<%- include('../partials/head.ejs') %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
crossorigin="anonymous" />
<%- include('../partials/userHeader.ejs') %>
<%- include('../partials/userBreadcrub.ejs') %>

<!-- Shop Details Section Begin -->
<section class="shop-details">
    <div class="container">
        <div class="row">
            <!-- Product Images -->
            <div class="col-lg-3 col-md-3">
                <ul class="nav nav-tabs" role="tablist">
                    <% for(let i=0; i<pdtData.images.length; i++){ %>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#" role="tab">
                            <img src="/images/productImages/<%= pdtData.images[i] %>" id="<%= pdtData.images[i] %>"
                                alt="product image" onclick="imgClick(this.id)">
                        </a>
                    </li>
                    <% } %>
                </ul>
            </div>

            <!-- Product Details -->
            <div class="col-lg-6 col-md-9">
                <div class="tab-content">
                    <div class="tab-pane active" id="imgtab" role="tabpanel">
                        <div class="product__details__pic__item main-image"
                            style="overflow: hidden; height: 400px;">
                            <img src="/images/productImages/<%= pdtData.images[0] %>" alt="Main Image" id="main-img">
                        </div>
                    </div>
                </div>
            </div>

            <!-- Product Information -->
            <div class="col-lg-3 col-md-12">
                <div class="product__details__content">
                    <div class="product__details__text">
                        <h4><%= pdtData.name %></h4>
                        <div class="d-flex justify-content-center align-items-center">
                            <h3>&#8377;<%= currPrice  %> <br><span>&#8377;<%= pdtData.price %></span></h3>
                        </div>
                        <p><%= pdtData.description %></p>
                        <div class="my-2">
                            <% if(pdtData.reviews && pdtData.reviews.length > 0 ){ %>
                            <% for(let i=1; i<=5; i++){ %>
                            <% if(i > pdtData.totalRating){ %>
                            <i class="bi bi-star"></i>
                            <% }else if(!Number.isInteger(pdtData.totalRating) && parseInt(pdtData.totalRating+1) == i){ %>
                            <i class="fas fa-star-half-alt"></i>
                            <% }else{ %>
                            <i class="fas fa-star"></i>
                            <% } %>
                            <% } %>
                            <span id="totalRating"> <%= pdtData.totalRating %> </span>
                            <span id="ratingCount">(<%= pdtData.reviews.length %>)</span>
                            <% } %>
                        </div>
                        <div class="product__details__cart__option">
                            <% if(isPdtExistInCart){ %>
                            <a href="/shoppingCart" class="primary-btn">go to cart</a>
                            <% }else{ %>
                            <a href="/shop/addToCart/<%= pdtData._id %>" class="primary-btn">add to cart</a>
                            <% } %>
                        </div>
                        <div class="product__details__last__option">
                            <h5><span>Guaranteed Safe Checkout</span></h5>
                            <img src="/img/shop-details/details-payment.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shop Details Section End -->

<%- include('../partials/footer.ejs') %>

<script>
   const mainImage = document.querySelector('.main-image');
    const img = document.getElementById('main-img');

    mainImage.addEventListener('mousemove', zoomIn);
    mainImage.addEventListener('mouseleave', zoomOut);

    function zoomIn(event) {
        const boundingRect = mainImage.getBoundingClientRect();
        const mouseX = event.clientX - boundingRect.left;
        const mouseY = event.clientY - boundingRect.top;

        const offsetX = (mouseX / boundingRect.width) * 100;
        const offsetY = (mouseY / boundingRect.height) * 100;

        img.style.transformOrigin = `${offsetX}% ${offsetY}%`;
        img.style.transform = 'scale(2)'; // Adjust the scale factor as desired
    }

    function zoomOut() {
        img.style.transform = 'scale(1)';
    }

    function imgClick(id) {
        let img = document.getElementById(id).src
        document.getElementById('main-img').src = img
    }

    function selectLabel(element) {
        var labels = document.querySelectorAll('.custom-label');
        for (var i = 0; i < labels.length; i++) {
            labels[i].classList.remove('selected');
        }

        element.classList.add('selected');
    }
    // 
    window.addEventListener('resize', slideImage);
</script>

<%- include('../partials/script.ejs') %>
